<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}图书网{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="logo">硬科幻小说书评网</h1>
        <h1 class="nav">{{ request.session.user_name }}! 欢迎回来！</h1>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">加入图书</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'author_list' %}">作者列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">聊天室</a>
            </li>
            <li>
                <p><a href="logout">登出</a></p>
            </li>
        </ul>
        {% block body %}
        {% endblock body %}
   

    <style>
    body {
        padding: 10px;
        text-align: center;
        background-color : #FFFFF0;
    }
    .message{
        background-color:  #15317E;
        color: white;
        padding: 2vw;
    }      

    .nav{
        font-size: 50px;
        font-family: "楷体";
        margin-top: 2.5vw;
    }
    .logo{
        font-size: 50px;
        font-family: "楷体";
    }
    </style> 

    </body>
</html>