<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}图书网{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>忙鱼</h1>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                aaa
            </li>
            <li class="nav-item">
                aaa
            </li>
        </ul>
        {% block body %}
        {% endblock body %}
   

    <style>
    body {
        padding: 10px;
        text-align: center;
    }
    .message{
        background-color:  #15317E;
        color: white;
        padding: 2vw;
    }      

    .nav{
        margin-top: 2.5vw;
    }
    </style> 

    </body>
</html>